@import url('fonts/font-awesome.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segeo UI', 'Roboto', 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoohting: grayscale;
    background-color: #405060;
}

a {
    color: #000;
    text-decoration: none;
}

html,
body,
#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
